In [47]:
import warnings
warnings.filterwarnings("ignore")
import shutil
import os
import pandas as pd
import matplotlib
matplotlib.use(u'nbAgg')
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pickle
from sklearn.manifold import TSNE
from sklearn import preprocessing
import pandas as pd
from multiprocessing import Process# this is used for multithreading
import multiprocessing
import codecs# this is used for file operations 
import random as r
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.calibration import CalibratedClassifierCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import log_loss
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from tqdm import tqdm
from sklearn.feature_extraction.text import CountVectorizer
import scipy
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.metrics import accuracy_score

## Procedure followed is:

* Selected best 200 bigrams from byte file.
* Selected best 400 bigram opcodes from asm file
* Selected best 800 trigram opcodes from asm file
* Calculated the size of asm files
* Selected top 800 image feature values
* Combined all the above features with the unigram features calculated in the case study
* Total features came out to be 2510
* Trained the XGBoost model as this was giving best results in the case study

## Result

* Train Log-loss came out to be 0.0078
* Test log-loss came out to be 0.0083

### Separating byte files and asm files

In [2]:
source = 'train'
destination = 'byteFiles'

# we will check if the folder 'byteFiles' exists if it not there we will create a folder with the same name
if not os.path.isdir(destination):
    os.makedirs(destination)

# if we have folder called 'train' (train folder contains both .asm files and .bytes files) we will rename it 'asmFiles'
# for every file that we have in our 'asmFiles' directory we check if it is ending with .bytes, if yes we will move it to
# 'byteFiles' folder

# so by the end of this snippet we will separate all the .byte files and .asm files
if os.path.isdir(source):
    os.rename(source,'asmFiles')
    source='asmFiles/'
    data_files = os.listdir(source)
    for file in data_files:
        if (file.endswith(".bytes")):
            shutil.move(source+file,destination)

### Converting byte files to text files

In [76]:
files = os.listdir('byteFiles/')
for file in files:
    if(file.endswith("bytes")):
        file=file.split('.')[0]
        text_file = open('byteFiles/'+file+".txt", 'w+')
        with open('byteFiles/'+file+'.bytes',"r") as fp:
            lines=""
            for line in fp:
                a=line.rstrip().split(" ")[1:]
                b=' '.join(a)
                b=b+"\n"
                text_file.write(b)
            fp.close()
            os.remove('byteFiles/'+file+'.bytes')
        text_file.close()

## Calculating Bi-Gram from byte files

In [77]:
byte_one_gram_values = ['00,01,02,03,04,05,06,07,08,09,0a,0b,0c,0d,0e,0f,10,11,12,13,14,15,16,17,18,19,1a,1b,1c,1d,1e,1f,20,21,22,23,24,25,26,27,28,29,2a,2b,2c,2d,2e,2f,30,31,32,33,34,35,36,37,38,39,3a,3b,3c,3d,3e,3f,40,41,42,43,44,45,46,47,48,49,4a,4b,4c,4d,4e,4f,50,51,52,53,54,55,56,57,58,59,5a,5b,5c,5d,5e,5f,60,61,62,63,64,65,66,67,68,69,6a,6b,6c,6d,6e,6f,70,71,72,73,74,75,76,77,78,79,7a,7b,7c,7d,7e,7f,80,81,82,83,84,85,86,87,88,89,8a,8b,8c,8d,8e,8f,90,91,92,93,94,95,96,97,98,99,9a,9b,9c,9d,9e,9f,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,aa,ab,ac,ad,ae,af,b0,b1,b2,b3,b4,b5,b6,b7,b8,b9,ba,bb,bc,bd,be,bf,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,ca,cb,cc,cd,ce,cf,d0,d1,d2,d3,d4,d5,d6,d7,d8,d9,da,db,dc,dd,de,df,e0,e1,e2,e3,e4,e5,e6,e7,e8,e9,ea,eb,ec,ed,ee,ef,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,fa,fb,fc,fd,fe,ff,??']

vocab_one_gram = []
for i in byte_one_gram_values:
    tmp = i.split(',')
    vocab_one_gram.append(tmp)
vocab_one_gram = vocab_one_gram[0]

vocab_bigram = []
for i in vocab_one_gram:
    for j in vocab_one_gram:
        vocab = '' + i+ " " + j
        vocab_bigram.append(vocab)

In [78]:
vectorizer = CountVectorizer(tokenizer=lambda x:x.split(), ngram_range=(2,2),vocabulary=vocab_bigram)

byte_files = os.listdir('byteFiles/')

features = ['ID'] + vectorizer.get_feature_names()

bigram_count_byte = open('bigram_count_byte.csv','w+')
bigram_count_byte.write(','.join(map(str, features)))
bigram_count_byte.write('\n')
for file in byte_files:
    with open('byteFiles/'+file) as f:
        file_id = file.split('.')[0]
        corpus = [f.read().replace('\n',' ').lower()]
        counts = vectorizer.fit_transform(corpus)
        bigram_count_byte.write(','.join(map(str,([file_id] + list(counts.toarray()[0])))))
        bigram_count_byte.write('\n')
        f.close()

In [79]:
df_bigrams_byte = pd.read_csv('bigram_count_byte.csv')

In [80]:
df_bigrams_byte.head(2)

,ID,00 00,00 01,00 02,00 03,00 04,00 05,00 06,00 07,00 08,...,?? f7,?? f8,?? f9,?? fa,?? fb,?? fc,?? fd,?? fe,?? ff,?? ??
0,01azqd4InC7m9JpocGv5,274425,1269,1029,1469,1227,1144,1437,1263,1174,...,0,0,0,0,0,0,0,0,0,1819
1,01IsoiSMh5gxyDYTl4CB,21075,752,73,48,175,12,10,11,42,...,0,0,0,0,0,0,0,0,0,8580

In [6]:
train_labels = pd.read_csv('trainLabels.csv')

In [82]:
df_bigrams_byte_classes = df_bigrams_byte.merge(train_labels,on='ID')

In [83]:
df_bigrams_byte_classes

,ID,00 00,00 01,00 02,00 03,00 04,00 05,00 06,00 07,00 08,...,?? f8,?? f9,?? fa,?? fb,?? fc,?? fd,?? fe,?? ff,?? ??,Class
0,01azqd4InC7m9JpocGv5,274425,1269,1029,1469,1227,1144,1437,1263,1174,...,0,0,0,0,0,0,0,0,1819,9
1,01IsoiSMh5gxyDYTl4CB,21075,752,73,48,175,12,10,11,42,...,0,0,0,0,0,0,0,0,8580,2
2,01jsnpXSAlgw6aPeDxrU,16798,596,159,144,513,595,557,146,528,...,0,0,0,0,0,0,0,0,459,9
3,01kcPWA9K2BOxQeS5Rju,10417,225,61,69,114,40,25,22,63,...,0,0,0,0,0,0,0,0,13932,1
4,01SuzwMJEIXsK7A8dQbl,16271,62,22,126,9,11,3,5,11,...,0,0,0,0,0,0,0,0,9000,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,loIP1tiwELF9YNZQjSUO,3401,8,10,25,7,7,3,5,7,...,0,0,0,0,0,0,0,0,347809,4
10864,LOP6HaJKXpkic5dyuVnT,1904,35,12,2,4,3,1,7,9,...,0,0,0,0,0,0,1,0,14361,4
10865,LOqA6FX02GWguYrI1Zbe,2784,20,2,93,3,2,5,1,1,...,0,0,0,0,0,0,0,0,11389,4
10866,LoWgaidpb2IUM5ACcSGO,2633,2,1,1,5,0,3,4,3,...,0,0,0,0,0,0,0,1,85537,4
10867,lS0IVqXeJrN6Dzi9Pap1,2637,2,4,3,4,2,4,6,2,...,0,0,0,1,0,0,0,0,78869,4

## Selecting 200 best bigram features

In [84]:
byte_class = df_bigrams_byte_classes['Class']

In [103]:
byte_id = df_bigrams_byte_classes['ID']

In [85]:
select_best_bigram_byte_features = SelectKBest(score_func=chi2,k=200)

In [86]:
most_imp_features_byte_bigram = select_best_bigram_byte_features.fit(df_bigrams_byte_classes.drop(columns=['ID','Class'],axis=1), byte_class)

In [87]:
most_imp_byte_bigram_feature_score_df = pd.DataFrame(most_imp_features_byte_bigram.scores_)

In [88]:
most_imp_byte_bigram_feature_score_df

                  0
0      1.731621e+08
1      3.352665e+06
2      2.370903e+06
3      1.339583e+06
4      2.393818e+06
...             ...
66044  3.310292e+01
66045  1.523242e+01
66046  3.031726e+01
66047  5.199847e+02
66048  1.008849e+10

[66049 rows x 1 columns]

In [90]:
df_bigrams_byte_w_id_class = df_bigrams_byte_classes.drop(columns=['ID','Class'],axis=1)

In [92]:
df_bigrams_byte_columns = pd.DataFrame(df_bigrams_byte_w_id_class.columns)

In [93]:
df_byte_bigram_columns_scores = pd.concat([df_bigrams_byte_columns,most_imp_byte_bigram_feature_score_df],axis=1)

In [94]:
df_byte_bigram_columns_scores

           0             0
0      00 00  1.731621e+08
1      00 01  3.352665e+06
2      00 02  2.370903e+06
3      00 03  1.339583e+06
4      00 04  2.393818e+06
...      ...           ...
66044  ?? fc  3.310292e+01
66045  ?? fd  1.523242e+01
66046  ?? fe  3.031726e+01
66047  ?? ff  5.199847e+02
66048  ?? ??  1.008849e+10

[66049 rows x 2 columns]

In [95]:
df_byte_bigram_columns_scores.columns = ["Byte Bigram Top 200 Feature Names","Byte Bigram Top 200 Feature Score"]

In [96]:
df_byte_bigram_columns_scores

      Byte Bigram Top 200 Feature Names  Byte Bigram Top 200 Feature Score
0                                 00 00                       1.731621e+08
1                                 00 01                       3.352665e+06
2                                 00 02                       2.370903e+06
3                                 00 03                       1.339583e+06
4                                 00 04                       2.393818e+06
...                                 ...                                ...
66044                             ?? fc                       3.310292e+01
66045                             ?? fd                       1.523242e+01
66046                             ?? fe                       3.031726e+01
66047                             ?? ff                       5.199847e+02
66048                             ?? ??                       1.008849e+10

[66049 rows x 2 columns]

In [97]:
byte_bigram_df_200_important_feature_score = df_byte_bigram_columns_scores.nlargest(200, "Byte Bigram Top 200 Feature Score")

In [98]:
byte_bigram_df_200_important_feature_score

      Byte Bigram Top 200 Feature Names  Byte Bigram Top 200 Feature Score
66048                             ?? ??                       1.008849e+10
52632                             cc cc                       3.254310e+08
0                                 00 00                       1.731621e+08
65790                             ff ff                       2.790252e+07
255                               00 ff                       9.768750e+06
...                                 ...                                ...
261                               01 04                       1.999742e+06
538                               02 18                       1.997487e+06
37926                             93 93                       1.993967e+06
6170                              18 02                       1.988969e+06
19350                             4b 4b                       1.987415e+06

[200 rows x 2 columns]

In [99]:
top_200_byte_features = list(byte_bigram_df_200_important_feature_score['Byte Bigram Top 200 Feature Names'])

In [101]:
byte_bigram = df_bigrams_byte_classes[top_200_byte_features]

In [102]:
byte_bigram

,?? ??,cc cc,00 00,ff ff,00 ff,ff 00,02 02,10 10,f0 f0,06 06,...,04 33,59 00,02 10,33 c0,68 04,01 04,02 18,93 93,18 02,4b 4b
0,1819,99,274425,876,1906,1502,74,98,84,93,...,7,1263,4,76,6,5,7,74,8,85
1,8580,732,21075,4861,1036,2202,23,195,21,8,...,39,5,0,151,151,4,0,0,4,9
2,459,7,16798,2358,3076,2960,4,5,3,81,...,19,566,7,18,21,65,10,8,6,9
3,13932,22,10417,1363,694,698,3,10,11,6,...,15,60,3,84,4,9,2,2,3,1
4,9000,31,16271,76,64,24,0,2,1,1,...,2,2,1,2,0,3,0,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,347809,4,3401,28,15,6,8,5,2,2,...,1,4,1,19,2,15,2,6,2,6
10864,14361,0,1904,55,22,3,2,1,2,0,...,2,2,1,10,0,2,0,0,0,0
10865,11389,0,2784,25,9,2,1,0,0,1,...,0,3,0,9,0,2,0,0,0,0
10866,85537,0,2633,34,4,0,2,1,1,2,...,1,2,2,7,4,1,0,0,1,3
10867,78869,2,2637,30,3,2,3,1,0,1,...,0,0,0,8,0,0,1,0,1,1

In [104]:
byte_bigram['ID'] = byte_id

In [105]:
byte_bigram

,?? ??,cc cc,00 00,ff ff,00 ff,ff 00,02 02,10 10,f0 f0,06 06,...,59 00,02 10,33 c0,68 04,01 04,02 18,93 93,18 02,4b 4b,ID
0,1819,99,274425,876,1906,1502,74,98,84,93,...,1263,4,76,6,5,7,74,8,85,01azqd4InC7m9JpocGv5
1,8580,732,21075,4861,1036,2202,23,195,21,8,...,5,0,151,151,4,0,0,4,9,01IsoiSMh5gxyDYTl4CB
2,459,7,16798,2358,3076,2960,4,5,3,81,...,566,7,18,21,65,10,8,6,9,01jsnpXSAlgw6aPeDxrU
3,13932,22,10417,1363,694,698,3,10,11,6,...,60,3,84,4,9,2,2,3,1,01kcPWA9K2BOxQeS5Rju
4,9000,31,16271,76,64,24,0,2,1,1,...,2,1,2,0,3,0,1,1,4,01SuzwMJEIXsK7A8dQbl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,347809,4,3401,28,15,6,8,5,2,2,...,4,1,19,2,15,2,6,2,6,loIP1tiwELF9YNZQjSUO
10864,14361,0,1904,55,22,3,2,1,2,0,...,2,1,10,0,2,0,0,0,0,LOP6HaJKXpkic5dyuVnT
10865,11389,0,2784,25,9,2,1,0,0,1,...,3,0,9,0,2,0,0,0,0,LOqA6FX02GWguYrI1Zbe
10866,85537,0,2633,34,4,0,2,1,1,2,...,2,2,7,4,1,0,0,1,3,LoWgaidpb2IUM5ACcSGO
10867,78869,2,2637,30,3,2,3,1,0,1,...,0,0,8,0,0,1,0,1,1,lS0IVqXeJrN6Dzi9Pap1

In [107]:
df_unigram = pd.read_csv('result_with_size.csv')

In [109]:
df_unigram = df_unigram.drop(columns=['Unnamed: 0'],axis=1)

In [110]:
df_byte = df_unigram.merge(byte_bigram,on='ID')

In [111]:
df_byte.to_csv('df_byte.csv')

## Making file containing only opcodes

In [2]:
opcodes_for_bigram  = ['jmp', 'mov', 'retf', 'push', 'pop', 'xor', 'retn', 'nop', 'sub', 'inc', 'dec', 'add','imul', 'xchg', 'or', 'shr', 'cmp', 'call', 'shl', 'ror', 'rol', 'jnb','jz','rtn','lea','movzx']

In [3]:
if not os.path.isdir("opcodes_asm_files"):
    os.mkdir('opcodes_asm_files')
    
asm_files = os.listdir('asmFiles/')

for files in asm_files:
    file = files.split('.')[0]
    with open('asmFiles/'+files,encoding='cp1252',errors ='replace') as asm:
        with open('opcodes_asm_files/'+file+'.txt','w') as txt:
            seq = ''
            for lines in asm:
                line = lines.rstrip().split()
                for word in line:
                    if word in opcodes_for_bigram:
                        seq = seq + word + ' '
            txt.write(seq + '\n')
            asm.close()

## Calculating Bigram opcodes

In [177]:
vocab_bigram_opcodes = []
sequence =  ''
for i in opcodes_for_bigram:
    for j in opcodes_for_bigram:
        tmp = i + " " + j
        sequence = sequence + tmp + ','
vocab_bigram_opcodes.append(sequence)

vocab_bigram_opcode = []
for i in vocab_bigram_opcodes:
    tmp = i.split(',')
    vocab_bigram_opcode.append(tmp)

vocab_bigram_opcode = vocab_bigram_opcode[0]

In [178]:
vectorizer = CountVectorizer(tokenizer=lambda x:x.split(), ngram_range=(2,2),vocabulary=vocab_bigram_opcode)

asm_op_code_files = os.listdir('opcodes_asm_files/')

features = ['ID'] + vectorizer.get_feature_names()

bigram_opcode_asm = open('bigram_opcode_asm.csv','w+')
bigram_opcode_asm.write(','.join(map(str, features)))
bigram_opcode_asm.write('\n')
for file in asm_op_code_files:
    with open('opcodes_asm_files/'+file) as f:
        file_id = file.split('.')[0]
        corpus = [f.read().replace('\n',' ').lower()]
        counts = vectorizer.fit_transform(corpus)
        bigram_opcode_asm.write(','.join(map(str,([file_id] + list(counts.toarray()[0])))))
        bigram_opcode_asm.write('\n')
        f.close()

## Calculating Trigram Opcodes

In [49]:
vocab_trigram_opcodes = []
sequence =  ''
for i in opcodes_for_bigram:
    for j in opcodes_for_bigram:
        for k in opcodes_for_bigram:
            
            tmp = i + " " + j + " " + k
            sequence = sequence + tmp + ','
vocab_trigram_opcodes.append(sequence)

vocab_trigram_opcode = []
for i in vocab_trigram_opcodes:
    tmp = i.split(',')
    vocab_trigram_opcode.append(tmp)

vocab_trigram_opcode = vocab_trigram_opcode[0]

In [52]:
vectorizer = CountVectorizer(tokenizer=lambda x:x.split(), ngram_range=(3,3),vocabulary=vocab_trigram_opcode)

asm_op_code_files = os.listdir('opcodes_asm_files/')

features = ['ID'] + vectorizer.get_feature_names()

trigram_opcode_asm = open('trigram_opcode_asm.csv','w+')
trigram_opcode_asm.write(','.join(map(str, features)))
trigram_opcode_asm.write('\n')
for file in asm_op_code_files:
    with open('opcodes_asm_files/'+file) as f:
        file_id = file.split('.')[0]
        corpus = [f.read().replace('\n',' ').lower()]
        counts = vectorizer.fit_transform(corpus)
        trigram_opcode_asm.write(','.join(map(str,([file_id] + list(counts.toarray()[0])))))
        trigram_opcode_asm.write('\n')
        f.close()

## Selecting 400 best bigram opcodes

In [47]:
opcode_bigram = pd.read_csv('bigram_opcode_asm.csv')

In [48]:
opcode_bigram = opcode_bigram.drop(columns=['Unnamed: 677'],axis=1)

In [49]:
opcode_bigram

,ID,jmp jmp,jmp mov,jmp retf,jmp push,jmp pop,jmp xor,jmp retn,jmp nop,jmp sub,...,movzx cmp,movzx call,movzx shl,movzx ror,movzx rol,movzx jnb,movzx jz,movzx rtn,movzx lea,movzx movzx
0,01azqd4InC7m9JpocGv5,440,192,0,6,0,17,0,0,24,...,0,0,0,0,0,0,0,0,0,0
1,01IsoiSMh5gxyDYTl4CB,0,32,0,3,1,3,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2,01jsnpXSAlgw6aPeDxrU,0,0,0,0,0,0,0,0,0,...,12,0,0,0,0,0,3,0,17,12
3,01kcPWA9K2BOxQeS5Rju,0,5,0,1,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01SuzwMJEIXsK7A8dQbl,5,57,1,4,1,1,0,0,0,...,11,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,loIP1tiwELF9YNZQjSUO,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10864,LOP6HaJKXpkic5dyuVnT,182,16,4,19,9,3,2,3,2,...,0,0,0,0,0,0,0,0,0,0
10865,LOqA6FX02GWguYrI1Zbe,84,9,7,10,8,1,3,4,2,...,0,0,0,0,0,0,0,0,0,0
10866,LoWgaidpb2IUM5ACcSGO,379,141,9,212,186,23,22,0,109,...,0,0,0,0,0,0,0,0,0,0
10867,lS0IVqXeJrN6Dzi9Pap1,390,154,7,180,161,30,13,0,87,...,0,0,0,0,0,0,0,0,0,0

In [50]:
opcode_bigram_class = opcode_bigram.merge(train_labels,on='ID')

In [51]:
opcode_bigram_class_id = opcode_bigram_class['ID']
opcode_bigram_class_class = opcode_bigram_class['Class']

In [52]:
opcode_bigram_class

,ID,jmp jmp,jmp mov,jmp retf,jmp push,jmp pop,jmp xor,jmp retn,jmp nop,jmp sub,...,movzx call,movzx shl,movzx ror,movzx rol,movzx jnb,movzx jz,movzx rtn,movzx lea,movzx movzx,Class
0,01azqd4InC7m9JpocGv5,440,192,0,6,0,17,0,0,24,...,0,0,0,0,0,0,0,0,0,9
1,01IsoiSMh5gxyDYTl4CB,0,32,0,3,1,3,1,0,0,...,0,0,0,0,0,0,0,0,0,2
2,01jsnpXSAlgw6aPeDxrU,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,17,12,9
3,01kcPWA9K2BOxQeS5Rju,0,5,0,1,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,01SuzwMJEIXsK7A8dQbl,5,57,1,4,1,1,0,0,0,...,0,0,0,0,0,0,0,0,4,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,loIP1tiwELF9YNZQjSUO,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
10864,LOP6HaJKXpkic5dyuVnT,182,16,4,19,9,3,2,3,2,...,0,0,0,0,0,0,0,0,0,4
10865,LOqA6FX02GWguYrI1Zbe,84,9,7,10,8,1,3,4,2,...,0,0,0,0,0,0,0,0,0,4
10866,LoWgaidpb2IUM5ACcSGO,379,141,9,212,186,23,22,0,109,...,0,0,0,0,0,0,0,0,0,4
10867,lS0IVqXeJrN6Dzi9Pap1,390,154,7,180,161,30,13,0,87,...,0,0,0,0,0,0,0,0,0,4

In [53]:
select_best_bigram_opcode_features = SelectKBest(score_func=chi2,k=400)

In [54]:
most_imp_features_opcode_bigram = select_best_bigram_opcode_features.fit(opcode_bigram_class.drop(columns=['ID','Class'],axis=1), opcode_bigram_class_class)

In [55]:
most_imp_opcode_bigram_feature_score_df = pd.DataFrame(most_imp_features_opcode_bigram.scores_)

In [56]:
most_imp_opcode_bigram_feature_score_df['Best 400 Features'] = list(most_imp_features_opcode_bigram.feature_names_in_)

In [57]:
most_imp_opcode_bigram_feature_score_df.rename(columns={0:'Best 400 Feature Scores'},inplace=True)

In [58]:
most_imp_opcode_bigram_feature_score_df

     Best 400 Feature Scores Best 400 Features
0               8.168987e+05           jmp jmp
1               3.540877e+06           jmp mov
2               1.012286e+05          jmp retf
3               1.127772e+06          jmp push
4               7.832677e+04           jmp pop
..                       ...               ...
671             1.531682e+03         movzx jnb
672             5.874596e+04          movzx jz
673                      NaN         movzx rtn
674             6.689576e+04         movzx lea
675             2.036370e+05       movzx movzx

[676 rows x 2 columns]

In [59]:
opcode_bigram_df_400_important_feature_score = most_imp_opcode_bigram_feature_score_df.nlargest(400, "Best 400 Feature Scores")

In [60]:
opcode_bigram_df_400_important_feature_score

     Best 400 Feature Scores Best 400 Features
27              2.268131e+07           mov mov
81              1.432259e+07         push push
79              9.157797e+06          push mov
95              8.970330e+06         push call
313             8.319890e+06          imul mov
..                       ...               ...
498             1.422152e+04           ror pop
353             1.419391e+04          xchg shr
584             1.402497e+04           jz imul
390             1.400353e+04           shr jmp
45              1.332168e+04           mov ror

[400 rows x 2 columns]

In [61]:
opcodes_bigram = opcode_bigram_class[opcode_bigram_df_400_important_feature_score['Best 400 Features']]

In [62]:
opcodes_bigram['ID'] = opcode_bigram_class_id
opcodes_bigram['Class'] = opcode_bigram_class_class

In [63]:
opcodes_bigram

,mov mov,push push,push mov,push call,imul mov,mov imul,mov push,call mov,mov call,nop nop,...,lea rol,imul shr,shl call,ror pop,xchg shr,jz imul,shr jmp,mov ror,ID,Class
0,1747,1594,577,678,50,44,843,969,497,0,...,0,0,8,0,0,3,0,0,01azqd4InC7m9JpocGv5,9
1,1157,114,160,157,19,23,240,98,121,1,...,0,0,0,0,0,0,0,0,01IsoiSMh5gxyDYTl4CB,2
2,0,181,26,118,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,01jsnpXSAlgw6aPeDxrU,9
3,25,26,10,27,0,0,14,18,6,0,...,0,0,0,0,0,0,0,0,01kcPWA9K2BOxQeS5Rju,1
4,1212,27,221,121,0,1,303,98,2,0,...,0,0,0,0,0,0,0,0,01SuzwMJEIXsK7A8dQbl,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,18,86,10,52,0,0,38,21,8,0,...,1,0,0,9,0,0,0,0,loIP1tiwELF9YNZQjSUO,4
10864,17,174,28,75,1,24,36,14,0,5,...,0,0,0,4,0,0,2,0,LOP6HaJKXpkic5dyuVnT,4
10865,30,124,5,30,0,0,13,7,0,4,...,0,0,0,3,0,0,0,1,LOqA6FX02GWguYrI1Zbe,4
10866,42,241,161,0,0,0,76,0,1,0,...,0,0,0,3,0,0,0,0,LoWgaidpb2IUM5ACcSGO,4
10867,26,237,120,1,0,0,54,0,0,0,...,0,0,0,2,2,0,1,3,lS0IVqXeJrN6Dzi9Pap1,4

## Selecting 800 best Opcodes Trigram

In [22]:
opcodes_trigram = pd.read_csv('trigram_opcode_asm.csv')

In [23]:
opcodes_trigram

,ID,jmp jmp jmp,jmp jmp mov,jmp jmp retf,jmp jmp push,jmp jmp pop,jmp jmp xor,jmp jmp retn,jmp jmp nop,jmp jmp sub,...,movzx movzx call,movzx movzx shl,movzx movzx ror,movzx movzx rol,movzx movzx jnb,movzx movzx jz,movzx movzx rtn,movzx movzx lea,movzx movzx movzx,Unnamed: 17577
0,01azqd4InC7m9JpocGv5,437,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,01IsoiSMh5gxyDYTl4CB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,01jsnpXSAlgw6aPeDxrU,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
3,01kcPWA9K2BOxQeS5Rju,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01SuzwMJEIXsK7A8dQbl,2,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,loIP1tiwELF9YNZQjSUO,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10864,LOP6HaJKXpkic5dyuVnT,128,10,2,13,5,2,1,1,0,...,0,0,0,0,0,0,0,0,0,0
10865,LOqA6FX02GWguYrI1Zbe,43,6,5,3,7,1,2,3,1,...,0,0,0,0,0,0,0,0,0,0
10866,LoWgaidpb2IUM5ACcSGO,216,34,2,33,17,6,10,0,6,...,0,0,0,0,0,0,0,0,0,0
10867,lS0IVqXeJrN6Dzi9Pap1,225,36,0,35,12,9,6,0,4,...,0,0,0,0,0,0,0,0,0,0

In [24]:
opcodes_trigram_id = opcodes_trigram.ID

In [25]:
select_best_trigram_opcode_features = SelectKBest(score_func=chi2,k=800)

In [26]:
most_imp_features_opcode_trigram = select_best_trigram_opcode_features.fit(opcodes_trigram.drop(columns=['ID'],axis=1), opcode_bigram_class_class)

In [27]:
most_imp_opcode_trigram_feature_score_df = pd.DataFrame(most_imp_features_opcode_trigram.scores_)

In [28]:
most_imp_opcode_trigram_feature_score_df['Best 800 Features'] = list(most_imp_features_opcode_trigram.feature_names_in_)

In [29]:
most_imp_opcode_trigram_feature_score_df

                   0  Best 800 Features
0      992963.688848        jmp jmp jmp
1       52845.066420        jmp jmp mov
2       19151.922277       jmp jmp retf
3       32209.910418       jmp jmp push
4       25846.527626        jmp jmp pop
...              ...                ...
17572    3948.204844     movzx movzx jz
17573            NaN    movzx movzx rtn
17574   10515.752643    movzx movzx lea
17575   40853.010944  movzx movzx movzx
17576            NaN     Unnamed: 17577

[17577 rows x 2 columns]

In [32]:
most_imp_opcode_trigram_feature_score_df.rename(columns={0:'Best 800 Feature Scores'},inplace=True)

In [39]:
opcode_trigram_df_800_important_feature_score = most_imp_opcode_trigram_feature_score_df.sort_values(by='Best 800 Feature Scores',ascending=False)[:800]

In [40]:
opcode_trigram_df_800_important_feature_score

       Best 800 Feature Scores Best 800 Features
703               1.374010e+07       mov mov mov
2109              6.004949e+06    push push push
714               4.967466e+06      mov mov imul
8139              4.928314e+06      imul mov mov
989               4.812556e+06      mov imul mov
...                        ...               ...
7477              3.530142e+04       add mov shr
7471              3.519221e+04       add mov inc
1337              3.514325e+04     mov movzx add
1405              3.514019e+04     retf retf mov
15496             3.491321e+04        jz lea jmp

[800 rows x 2 columns]

In [41]:
trigram = opcodes_trigram[opcode_trigram_df_800_important_feature_score['Best 800 Features']]

In [43]:
trigram['ID'] = opcodes_trigram_id

In [44]:
trigram

,mov mov mov,push push push,mov mov imul,imul mov mov,mov imul mov,push push call,push call mov,mov push push,push mov push,mov call mov,...,cmp lea call,sub add mov,jmp add mov,cmp lea cmp,add mov shr,add mov inc,mov movzx add,retf retf mov,jz lea jmp,ID
0,504,729,12,14,28,496,395,515,80,333,...,0,11,19,0,0,0,0,0,0,01azqd4InC7m9JpocGv5
1,643,29,19,12,14,19,18,24,29,52,...,0,8,0,0,0,0,4,0,0,01IsoiSMh5gxyDYTl4CB
2,0,74,0,0,0,86,2,0,0,0,...,0,0,0,0,0,0,0,0,0,01jsnpXSAlgw6aPeDxrU
3,4,10,0,0,0,10,10,6,2,3,...,0,0,0,0,0,0,0,0,0,01kcPWA9K2BOxQeS5Rju
4,436,7,0,0,0,10,96,10,195,0,...,0,0,0,0,0,0,0,0,0,01SuzwMJEIXsK7A8dQbl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,0,37,0,0,0,37,11,18,6,5,...,0,0,0,0,0,9,0,0,0,loIP1tiwELF9YNZQjSUO
10864,3,85,0,1,0,58,13,12,6,0,...,0,0,2,0,0,0,0,0,0,LOP6HaJKXpkic5dyuVnT
10865,1,89,0,0,0,22,6,8,2,0,...,0,0,2,0,0,0,0,0,0,LOqA6FX02GWguYrI1Zbe
10866,9,43,0,0,0,0,0,38,5,0,...,0,0,2,1,0,0,0,0,0,LoWgaidpb2IUM5ACcSGO
10867,4,36,0,0,0,0,0,25,4,0,...,0,0,3,0,0,1,0,0,0,lS0IVqXeJrN6Dzi9Pap1

In [64]:
opcodes_asm = opcodes_bigram.merge(trigram,on=['ID'])

In [65]:
opcodes_asm

,mov mov,push push,push mov,push call,imul mov,mov imul,mov push,call mov,mov call,nop nop,...,cmp add mov,cmp lea call,sub add mov,jmp add mov,cmp lea cmp,add mov shr,add mov inc,mov movzx add,retf retf mov,jz lea jmp
0,1747,1594,577,678,50,44,843,969,497,0,...,17,0,11,19,0,0,0,0,0,0
1,1157,114,160,157,19,23,240,98,121,1,...,0,0,8,0,0,0,0,4,0,0
2,0,181,26,118,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,25,26,10,27,0,0,14,18,6,0,...,0,0,0,0,0,0,0,0,0,0
4,1212,27,221,121,0,1,303,98,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,18,86,10,52,0,0,38,21,8,0,...,0,0,0,0,0,0,9,0,0,0
10864,17,174,28,75,1,24,36,14,0,5,...,0,0,0,2,0,0,0,0,0,0
10865,30,124,5,30,0,0,13,7,0,4,...,0,0,0,2,0,0,0,0,0,0
10866,42,241,161,0,0,0,76,0,1,0,...,0,0,0,2,1,0,0,0,0,0
10867,26,237,120,1,0,0,54,0,0,0,...,0,0,0,3,0,0,1,0,0,0

In [66]:
one_gram_asm = pd.read_csv('asmoutputfile.csv')

In [68]:
final_asm_opcode = one_gram_asm.merge(opcodes_asm,on=['ID'])

In [69]:
final_asm_opcode.to_csv('final_asm_opcodes.csv')

## Calculating the size of asm files

In [128]:
files = os.listdir('asmFiles/')

In [129]:
file_id = []
size_asm = []
for file in files:
    file_name = file.split('.')[0]
    file_id.append(file_name)
    file_stats = os.stat('asmFiles/'+file)
    size_asm.append(file_stats.st_size/(1024.0*1024.0))

In [130]:
df_asm_file_size = pd.DataFrame()

In [131]:
df_asm_file_size['ID'] = file_id
df_asm_file_size['Asm_File_Size'] = size_asm

In [132]:
df_asm_file_size

                         ID  Asm_File_Size
0      01azqd4InC7m9JpocGv5      56.229886
1      01IsoiSMh5gxyDYTl4CB      13.999378
2      01jsnpXSAlgw6aPeDxrU       8.507785
3      01kcPWA9K2BOxQeS5Rju       0.078190
4      01SuzwMJEIXsK7A8dQbl       0.996723
...                     ...            ...
10863  loIP1tiwELF9YNZQjSUO      11.269457
10864  LOP6HaJKXpkic5dyuVnT       2.045257
10865  LOqA6FX02GWguYrI1Zbe       1.957262
10866  LoWgaidpb2IUM5ACcSGO       3.936188
10867  lS0IVqXeJrN6Dzi9Pap1       3.546772

[10868 rows x 2 columns]

## Calculating the image features

In [99]:
import array
import imageio

In [105]:
if not os.path.isdir('asm_image'):
    os.makedirs('asm_image')
    
files = os.listdir('asmFiles/')

for file in files:
    file_id = file.split('.')[0]
    f = open('asmFiles/'+file,mode='rb')
    ln = os.path.getsize('asmFiles/'+file)
    width = int(ln**0.5)
    rem = ln%width
    a= array.array('B')
    a.fromfile(f,ln-rem)
    f.close()
    g = np.reshape(a[:width * width], (width, width))
    g = np.uint8(g)
    imageio.imwrite('asm_image/'+file_id+'.png',g)

In [115]:
asm_image_features = []
for i in range(1,801):
    tmp = 'Asm_Image_features_'+str(i)
    asm_image_features.append(tmp)

## Taking only the first 800 values

In [123]:
asm_image_csv = open('asm_image_csv.csv','w')
features = ['ID'] + asm_image_features
asm_image_csv.write(','.join(map(str, features)))
asm_image_csv.write('\n')


files = os.listdir('asm_image/')

for file in files:
    file_id = file.split('.')[0]
    file_image = imageio.imread('asm_image/'+file)
    top_800_values = file_image.flatten()[:800]
    asm_image_csv.write(','.join(map(str, [file_id]+list(top_800_values))))
    asm_image_csv.write('\n')

## Preparing the data by combining all the features

In [ ]:
data = pd.read_csv('asm_image_csv.csv')

In [133]:
data = data.merge(df_asm_file_size,on=['ID'])

In [135]:
asm_features = pd.read_csv('final_asm_opcodes.csv')

In [137]:
asm_features = asm_features.drop(columns=['Unnamed: 0','Class'])

In [138]:
data = data.merge(asm_features,on=['ID'])

In [140]:
byte_features = pd.read_csv('df_byte.csv')

In [142]:
byte_features = byte_features.drop(columns=['Unnamed: 0','Class'])

In [144]:
data = data.merge(byte_features,on=['ID'])

In [146]:
class_labels = pd.read_csv('trainLabels.csv')

In [148]:
data = data.merge(class_labels,on=['ID'])

In [150]:
data.to_csv('final_data.csv')

## Splitting the data

In [26]:
data = pd.read_csv('final_data.csv')

In [27]:
y = data['Class']

In [28]:
X = data.drop(columns=['Unnamed: 0','ID','Class'],axis=1)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42,test_size=0.2)

In [50]:
print('Number of data points in train data:', X_train.shape[0])
print('Number of data points in test data:', X_test.shape[0])
print('Total number of features: ',X_train.shape[1])

Number of data points in train data: 8694
Number of data points in test data: 2174
Total number of features:  2510

## Training XGBoost model and selecting best parameters using Random CV

In [32]:
x_cfl=XGBClassifier()

prams={
    'learning_rate':[0.01,0.03,0.05,0.1,0.15,0.2],
     'n_estimators':[100,200,500,1000,2000],
     'max_depth':[3,5,10],
    'colsample_bytree':[0.1,0.3,0.5,1],
    'subsample':[0.1,0.3,0.5,1]
}
random_cfl1=RandomizedSearchCV(x_cfl,param_distributions=prams,verbose=10,n_jobs=-1,)
random_cfl1.fit(X_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[03:17:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

RandomizedSearchCV(estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, gamma=None,
                                           gpu_id=None, importance_type='gain',
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monotone_constraints=None,
                                           n_estimators=100, n_job...
                                           random_state=None, reg_alpha=None,
                                           reg_lambda=None,
                                           scale_pos_weight=None,
                                           subsample=None, tree_method=None,
                                           validate_parameters=None,
                                           verbosity=None),
                   n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.1, 0.3, 0.5, 1],
                                        'learning_rate': [0.01, 0.03, 0.05, 0.1,
                                                          0.15, 0.2],
                                        'max_depth': [3, 5, 10],
                                        'n_estimators': [100, 200, 500, 1000,
                                                         2000],
                                        'subsample': [0.1, 0.3, 0.5, 1]},
                   verbose=10)

In [34]:
print(random_cfl1.best_params_)

{'subsample': 0.3, 'n_estimators': 500, 'max_depth': 5, 'learning_rate': 0.2, 'colsample_bytree': 0.3}

## Training using best parameters

In [45]:
x_clf_with_best_hyper_param=XGBClassifier(n_estimators=500, max_depth=5, learning_rate= 0.2, colsample_bytree=0.3, subsample=0.3, nthread=-1)

x_clf_with_best_hyper_param.fit(X_train, y_train, verbose=True)

sig_clf = CalibratedClassifierCV(x_clf_with_best_hyper_param, method="sigmoid")

sig_clf.fit(X_train, y_train)

[08:08:10] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[08:09:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[08:10:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[08:10:52] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[08:11:47] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[08:12:39] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

CalibratedClassifierCV(base_estimator=XGBClassifier(base_score=0.5,
                                                    booster='gbtree',
                                                    colsample_bylevel=1,
                                                    colsample_bynode=1,
                                                    colsample_bytree=0.3,
                                                    gamma=0, gpu_id=-1,
                                                    importance_type='gain',
                                                    interaction_constraints='',
                                                    learning_rate=0.2,
                                                    max_delta_step=0,
                                                    max_depth=5,
                                                    min_child_weight=1,
                                                    missing=nan,
                                                    monotone_constraints='()',
                                                    n_estimators=500, n_jobs=8,
                                                    nthread=-1,
                                                    num_parallel_tree=1,
                                                    objective='multi:softprob',
                                                    random_state=0, reg_alpha=0,
                                                    reg_lambda=1,
                                                    scale_pos_weight=None,
                                                    subsample=0.3,
                                                    tree_method='exact',
                                                    validate_parameters=1,
                                                    verbosity=None))

## Calculating the log-loss

In [46]:
predict_y = sig_clf.predict_proba(X_train)
print ('train loss',log_loss(y_train, predict_y))

predict_y = sig_clf.predict_proba(X_test)
print ('test loss',log_loss(y_test, predict_y))

train loss 0.007899762088401908
test loss 0.00838600754978871